<%= form_for @note_permission do |f| %>
  <% @users.each do |user| %>
      <li><%= check_box_tag "note_permission[shared_user][]", user.email %>
        <%=user.email %>
      </li>
    <% end %>
  <%= f.submit %>
<% end %>
